---
export interface Props {
    img?: string;
    alt?: string;
    heading?: string;
    text?: string;
}

const { img, alt, heading, text } = Astro.props as Props;
---

<div class="feature">
    <div class="img">
        <img src={img} alt={alt}>
    </div>
    <div class="info">
        <h2>{heading}</h2>
        <p>{text}</p>
        <a href="#" class="btn">Learn more</a>
    </div>
</div>

<style>
    .feature {
        min-height: 100dvh;
        display: grid;
        grid-template-rows: 40dvh 60dvh;
    }

    .img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info {
        background-color: var(--White);
        text-align: center;
        padding: 3.5rem 2rem;
    }
    .info h2 {
        font-family: var(--fraunces);
        font-size: 2rem;
        font-weight: 900;
    }
    .info p {
        margin: 1.75rem 0;
        font-family: var(--barlow);
        color: var(--Dark-grayish-blue);
        font-size: 1.1rem;
        line-height: 1.5;
    }

    .btn {
        font-size: 1.25rem;
        font-weight: 900;
        font-family: var(--fraunces);
        text-decoration: none;
        color: inherit;
    }

    @media (min-width: 1440px) {
        .feature {
            all: unset;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .feature:first-child .img {
            order: 2;
        }

        .info {
            text-align: left;
            /* padding: 7rem 5rem; */
            padding: 30% 20%;
        }
            .info a {
                text-transform: uppercase;
                position: relative;
                z-index: 1;
            }
            
            .info a:hover::after {
                content: '';
                position: absolute;
                z-index: -1;
                bottom: -3px;
                border-radius: 10px;
                left: -10%;
                width: 120%;
                height: 15px;
                background-color: var(--Soft-red);
            }

            .feature:first-child .info a:hover::after {
                background-color: var(--Yellow);
            }
    }
</style>