---
import galleryImages from '../data/galleryImages';
---

<section>
    {galleryImages.map(img => (
        <img src={img} alt="Gallery Picture">
    ))}
</section>

<style>
    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
        section img {
            width: 100%;
        }
</style>