---
const galleryImages = [
    '/images/mobile/image-gallery-milkbottles.jpg',
    '/images/mobile/image-gallery-orange.jpg',
    '/images/mobile/image-gallery-cone.jpg',
    '/images/mobile/image-gallery-sugar-cubes.jpg'
];
---

<section>
    {galleryImages.map(img => (
        <img src={img} alt="Gallery Picture">
    ))}
</section>

<style>
    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
        section img {
            width: 100%;
        }
</style>