<header>
    <div class="navbar">
        <img src="/images/logo.svg" alt="Company Logo">
    
        <nav>
            <ul>
                <li><a href=""> About</a></li>
                <li><a href=""> About</a></li>
                <li><a href=""> About</a></li>
                <li><a href=""> About</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    header {
        min-height: 100dvh;
        background-image: url('/images/mobile/image-header.jpg');
        background-size: cover;
        background-position: center;
        font-family: 'Barlow', sans-serif;
    }

    .navbar {
        padding: 1.5rem;
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        list-style: none;
        display: flex;
    }
</style>