---
import Nav from './Nav.astro';
---

<header>
    <div class="navbar">
        <a href="/">
            <img src="/images/logo.svg" alt="Company Logo">
        </a>
    
        <Nav />

        <a class="menu-btn" data-menu-btn>
            <img src="/images/icon-hamburger.svg" alt="Menu button icon">
        </a>
    </div>

    <h1>We are creatives</h1>

    <img src="/images/icon-arrow-down.svg" alt="Icon" class="arrow">
</header>

<style>
    header {
        min-height: 100dvh;
        background-image: url('/images/mobile/image-header.jpg');
        background-size: cover;
        background-position: center;
    }

    .navbar {
        padding: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        text-align: center;
        margin-top: 5rem;
        color: var(--White);
        font-family: var(--fraunces);
        text-transform: uppercase;
        font-size: 2.5rem;
        letter-spacing: 7px;
        font-weight: 900;
    }

    .arrow {
        display: block;
        margin: 3rem auto;
    }

    @media (min-width: 1440px) {
        header {
            background-image: url('/images/desktop/image-header.jpg');
        }

        .navbar {
            padding: 1rem 2rem;
        }

        .navbar img {
            width: 8.5rem;
            height: 1.75rem;
        }

        .arrow {
            display: block;
            margin: 6rem auto;
        }

        .menu-btn {
            display: none;
        }
    }
</style>

<script>
    const menuBtn = document.querySelector('[data-menu-btn');
    const navLinks = document.querySelector('nav ul');

    menuBtn.addEventListener('click', () => {
        navLinks.classList.toggle('open');
    })
</script>