---
import navData from '../data/navData';
---

<header>
    <div class="navbar">
        <img src="/images/logo.svg" alt="Company Logo">
    
        <nav>
            <ul>
                {navData.map(link => (
                    <li><a href={link.path}>{link.name}</a></li>
                ))}
            </ul>
        </nav>
    </div>

    <h1>We are creatives</h1>

    <img src="/images/icon-arrow-down.svg" alt="Icon" class="arrow">
</header>

<style>
    header {
        min-height: 100dvh;
        background-image: url('/images/mobile/image-header.jpg');
        background-size: cover;
        background-position: center;
    }

    .navbar {
        padding: 1.5rem;
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        list-style: none;
        display: flex;
        font-family: var(--barlow);
    }
    /* nav li {
        margin-left: 1rem;
    } */

    h1 {
        text-align: center;
        margin-top: 5rem;
        color: var(--White);
        font-family: var(--fraunces);
        text-transform: uppercase;
        font-size: 2.5rem;
        letter-spacing: 7px;
        font-weight: 900;
    }

    .arrow {
        display: block;
        margin: 3rem auto;
    }
</style>