---
import Service from './Service.astro';
---

<section>
    <Service
        classStyle="graphic-design" 
        heading="Graphic design"
        text="Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention."
    >
        <!-- <h3>Graphic design</h3>
        <p> Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention.</p> -->
    </Service>
    <!-- <div class="service graphic-design"> -->
        <!-- <img src="/images/mobile/image-graphic-design.jpg" alt="Graphic image"> -->
        <!-- <div class="text"> -->
            <!-- <h3>Graphic design</h3>
            <p> Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention.</p> -->
        <!-- </div> -->
    <!-- </div> -->
    <Service
        classStyle="photography" 
        heading="Photography"
        text="Increase your credibility by getting the most stunning, high-quality photos that improve your business image."
    >
        <!-- <h3>Photography</h3>
        <p> Increase your credibility by getting the most stunning, high-quality photos that improve your business image.</p> -->
    </Service>
    <!-- <div class="service photography"> -->
        <!-- <img src="/images/mobile/image-photography.jpg" alt="Graphic image"> -->
        <!-- <div class="text"> -->
            <!-- <h3>Photography</h3>
            <p> Increase your credibility by getting the most stunning, high-quality photos that improve your business image.</p> -->
        <!-- </div> -->
    <!-- </div> -->
</section>

