---
import Service from './Service.astro';
---

<section>
    <Service
        classStyle="graphic-design" 
        heading="Graphic design"
        text="Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention."
    />

    <Service
        classStyle="photography" 
        heading="Photography"
        text="Increase your credibility by getting the most stunning, high-quality photos that improve your business image."
    />
</section>

