---
export interface Props {
    title?: string;
}

const { title = 'Frontend Mentor | Sunnyside agency landing page' } = Astro.props as Props; 

import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="../../public/images/favicon-32x32.png"> -->
    <!-- files in the public directory are served at the root path. Instead of /public/images/favicon-32x32.png, use /images/favicon-32x32.png. -->
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap" rel="stylesheet">
</head>
<body>

    <slot />

</body>
</html>

<style>   
    body {
        background-color: #222;
    }
</style>

